.container {
  padding-top: 65px;
  min-height: calc(100vh - 67px);
}

.css-5ir5xx-MuiLinearProgress-bar1 {
  background-color: #00ccff !important;
}

.css-1r8wrcl-MuiLinearProgress-bar2 {
  background-color: #00ccff !important;

}