.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  min-height: calc(100vh - 97px);
}


.css-5ir5xx-MuiLinearProgress-bar1 {
  background-color: #00ccff !important;
}

.css-1r8wrcl-MuiLinearProgress-bar2 {
  background-color: #00ccff !important;

}