.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:30vw;
    border:1px solid #383838;
    border-radius: 16px;
    cursor: pointer;
    /* height: 300px; */
}
.card:hover{
    border:1px solid #646464;
    box-shadow: 0 0 50px -12px #646464;
    transition-duration: 0.5s;
}
.header{
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    border-bottom: 1px solid #383838;
}
.content{
    padding: 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
    border-top: 1px solid #383838;
}